@{ 
    Layout = "_AdminLayout";
    } 
<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Volunteer" asp-action="List">Volunteers</a>
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Opportunity" asp-action="List">Opportunities</a>
        <br>

    </div>

</body>
</html>
