@model Volunteer

    <div class="card m-3 rounded">
        <div class="card-block m-2">
            <strong>@Model.FirstName</strong>
            <span class="float-right bg-success text-white rounded m-2 p-1">
                @Model.LastName
            </span>
            <h4>@Model.Address</h4>
            <h4>@Model.Availability</h4>
        </div>
    </div>
